.toast {
  position: fixed;
  top: 1em;
  left: 18%;
  transform: translate(-50%, 0);
  padding: 0.5em 1em;
  border-radius: 6px;
  max-width: 10vh;
  max-height: 10vh;
  margin: 0 auto;

  color: #fff;
}

.error {
  background-color: #fa5252;
}
.success {
  background-color: #40c057;
}
